@charset "utf-8";
#rh-loadCss{z-index:1;position:fixed}
*{outline:0}
html,body{width:100%;height:100%;overflow:hidden;margin:0;padding:0;background:0 0;font-size:12px}
#container,#offline,#online,#chooseDepartment{width:100%;height:100%;position:relative}
.center{position:relative;overflow:hidden;margin:0 auto;height:100%}
.topPanel{cursor:default}
#blocker{position:fixed;top:0;bottom:0;left:0;right:0;background:#000;-moz-opacity:.01;-khtml-opacity:.01;opacity:.01;z-index:99999}
.colorifier{position:absolute;top:0;left:0;width:100%;height:100%;background:0 0;pointer-events:none}
#footer{display:none}
#rh-copy{position:absolute;bottom:.283em;width:100%;text-align:center;z-index:999998;font-family:arial,sans-serif;outline:0;color:#aaa}
.free #rh-copy,.free #rh-copy .rh-textWrapper{font-size:.817em;color:#999}
#rh-copy,#rh-copy .rh-textWrapper{font-size:.817em;color:#999}
#rh-copy>span{font-size:1em!important}
.free #rh-copy a span{color:#BB2626}
#rh-copy>a{text-decoration:underline!important;color:#555;font-size:.977em!important;opacity:.8}
#rh-copy>a>span{color:#BB2626;font-size:100%!important}
#rh-copy a:hover{text-decoration:underline!important;opacity:1}
#offline .header{font-weight:700;max-width:100%}
#offline .description{max-width:100%}
#feedbackForm{position:relative;overflow:hidden}
#offline input,#offline textarea{line-height:1.167em;padding:.167em;width:100%;margin-top:0}
.inputField.message{margin-top:.833em}
.inputField{margin-top:.357em}
#actionPanel{position:relative;margin-right:0;margin-top:1.25em;float:right}
#throbber{color:#555;background:url("../images/common/throbber.gif?version=3.1.539") no-repeat;float:right;padding-left:18px;margin-right:8px;height:20px}
#sendButton{float:right;width:6.25em;height:1.14em;padding:.334em 1.25em .5em;cursor:pointer;text-align:center}
#offlineSuccess{margin:0 auto;height:50%;position:relative;color:#090;font-size:1.5em}
#offlineSuccess div{position:absolute;bottom:0;width:100%;text-align:center}
div.phone{display:none}
.phoneEnabled div.phone{display:block}
.redhelper-form-row{position:relative;padding:0;border:2px solid transparent;margin:0 0 5px 0;box-sizing:content-box}
.redhelper-form-row-field{color:#536371}
.redhelper-form-row-field{position:absolute;left:15px;top:14px;z-index:1;font-size:14px;font-weight:400}
.redhelper-form-row-field_textarea{top:28px}
.redhelper-form-row-focused .redhelper-form-row-field{transition:color .8s;color:#B4B9BF}
.redhelper-form-row-field-input-fill .redhelper-form-row-field,.redhelper-form-row-field-input-onfocus .redhelper-form-row-field,.redhelper-form-row-field-select{font-size:11px;line-height:13px;color:#959da6}
.redhelper-form-row-field-input-fill .redhelper-form-row-field,.redhelper-form-row-field-input-onfocus .redhelper-form-row-field{top:5px;opacity:0;background:0 0}
.redhelper-form-row-field-input-fill .redhelper-form-row-field_textarea,.redhelper-form-row-field-input-onfocus .redhelper-form-row-field_textarea{top:21px}
.redhelper-form-row-field-input-onfocus .redhelper-form-row-field-focus-ready,.redhelper-form-row-field-input-fill .redhelper-form-row-field-focus-ready,.redhelper-form-row-field-select{opacity:1;transition:all .2s;-moz-transform:translateY(-2px);-ms-transform:translateY(-2px);-webkit-transform:translateY(-2px);-o-transform:translateY(-2px);transform:translateY(-2px)}
#offline input.redhelper-input-type-text{padding:13px 43px 8px 15px;margin:0 auto;color:#000;resize:none;-moz-box-sizing:border-box;box-sizing:border-box;font-size:16px;font-weight:400;height:45px}
#offline textarea.input-textarea{padding:10px 43px 8px 15px;-moz-box-sizing:border-box;box-sizing:border-box}
.hiddenPlaceholders::-webkit-input-placeholder{color:transparent}
.hiddenPlaceholders:-moz-placeholder{color:transparent}
.hiddenPlaceholders::-moz-placeholder{color:transparent}
.hiddenPlaceholders:-ms-input-placeholder{color:transparent}
::-ms-clear{display:none}
#onlinePanel{position:absolute;top:0;left:0;right:0}
.wrapper{padding:0 .833em 0 .667em;height:100%}
#online .topPanel,#chooseDepartment .topPanel{overflow:hidden;position:absolute;top:0;left:.667em;right:.667em}
.free #online .topPanel,#chooseDepartment .topPanel{left:1.25em;right:1.25em}
#faceWrapper{position:relative;width:100%;height:6.417em}
.operatorRate #faceWrapper,.departments #faceWrapper{height:7.417em}
#faceRate{float:left;margin:.417em 1.667em 0 0}
#face{display:block}
#rate{display:none;margin:0;height:1.4em;text-align:center;background:#f5f5f5;border:1px solid #ccc;border-top:none;position:relative}
#like,#dislike{position:relative;z-index:3;width:.917em;height:1.417em;display:inline-block;background:url("../images/mac/buttons.png?v=2?version=3.1.539") no-repeat;background-size:20.25em;padding:0 .3em;cursor:pointer}
#like{background-position:-18.96em 0}
#like:hover,#like.active{background-position:-18.96em -3.1em}
#dislike{background-position:-18.96em -1.52em}
#dislike:hover,#dislike.active{background-position:-18.96em -4.42em}
#topDescription{float:left;margin:.417em 0;left:7.5em;overflow:hidden;position:absolute;right:.833em}
.free #topDescription{left:0}
#topHeader,.topHeader{font-weight:700;font-size:1.733em}
#topText{height:3em;margin:.2em 0 0 0}
#chatContainer{position:relative;height:100%;width:100%;overflow:auto}
#chatInput{position:relative;overflow:visible;width:100%;height:5em;padding:0}
#chatTextarea{width:100%;height:4.73em;margin:0;padding:.25em 0 0 .417em;border:none;resize:none}
#dropArea{display:none}
.fileDragged #dropArea{display:block;position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.5);border:none}
.fileDragged #dropArea>div{position:relative;margin:50% auto 0;width:90%;overflow:visible}
.fileDragged #dropArea div div{position:relative;bottom:50%;color:#fff;font-size:17px;padding:19px 28px;text-align:center;background:rgba(0,0,0,.4);-webkit-border-radius:19px;-moz-border-radius:19px;-ms-border-radius:19px;border-radius:19px}
.baron_wrapper{position:relative;overflow:hidden}
.scroller{height:100%;overflow-y:scroll;border:0}
.scroller::-webkit-scrollbar{width:0}
.scroller__bar{position:absolute;z-index:1;right:1px;width:5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#bbb;padding:3px 0;-webkit-transition:background-color 500ms;transition:background-color 500ms}
#chatItself:hover .scroller__bar,#departmentsContainer:hover .scroller__bar{background:#999}
#chatContainer.scroller-parent,#departmentsWrapper.scroller-parent{overflow:hidden!important}
.scroller__track{display:none;position:absolute;right:0;top:1px;bottom:1px;width:8px;background:rgba(0,0,0,.05);overflow:hidden}
.baron .scroller__track{display:block}
.baron .msg{padding:0 1em 0 .5em}
.baron .invitationMessage .speak,.baron .fromOperator .speak{right:28px}
.baron #departments{padding-right:8px}
body.rtl{direction:rtl}
.rtl #fileSend,.rtl #chatSend{left:.09em;right:auto}
.rtl #chatSend{border-radius:2px 0 0 0}
.rtl #fileSend{border-radius:0 0 0 2px}
.rtl #textAreaWrapper{right:0;left:3.17em}
.rtl #chatTextarea{right:0;padding:.25em .417em 0 0}
.rtl .scroller__track{left:0;right:auto}
.rtl .baron .msg{padding:0 .5em 0 1em}
.rtl #faceRate{float:right;margin:.417em 0 0 1.667em}
.rtl #topDescription{float:right;right:7.5em;left:.833em}
.rtl .time{float:left;margin:.417em -8.33em 0 .25em}
.rtl .text{padding:.25em .667em .417em 3.75em}
.rtl #departments li{padding:8px 23px 8px 8px}
.rtl #departments li span{right:10px;left:auto}
.baron #departments{padding-right:8px;padding-left:0}
::selection{background:#ccc}
::-moz-selection{background:#ccc}
#container{font-family:arial,sans-serif;font-size:1em;color:#333;background:#efefef}
#online,#chooseDepartment{background:url("../images/mac/onlineBack.png?v=2?version=3.1.539") repeat-x #efefef}
#onlinePanel{bottom:13.78em}
.operatorRates #onlinePanel,.departments #onlinePanel{bottom:15em}
#online .center{padding:6.283em 0 7.483em}
.operatorRates #online .center,.departments #online .center{padding:7.483em 0 7.483em}
#online .topPanel{color:#555;text-shadow:#eee 1px 1px 0}
#faceImgWrapper{border:1px solid #ccc;width:5.167em;height:5.167em;overflow:hidden}
.operatorRates #rate{display:block}
#face{width:5.167em}
.free #faceRate{display:none}
#chatContainer{background:#fff!important;border:1px solid #b7b7b7;box-shadow:inset 0 1px 2px #ddd;padding-bottom:2px}
#chatInput{border:1px solid #bdbdbd;-moz-border-radius:3px;border-radius:3px;margin-top:.667em;background:#fff;box-shadow:0 1px .12em #ddd inset}
#chatTextarea{position:absolute;top:0;left:0;overflow:auto;background:0 0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:1em;color:#bbb;z-index:10}
#chatTextarea::-webkit-input-placeholder{color:#bbb}
#chatTextarea:-moz-placeholder{color:#bbb}
#chatTextarea::-moz-placeholder{color:#bbb}
#chatTextarea :-ms-input-placeholder{color:#bbb}
#chatTextarea.disabled{background:#f8f8f8}
#textAreaWrapper{position:absolute;top:0;bottom:1em;left:0;right:3.17em}
#textAreaPlaceholder{top:.25em;left:.417em;position:absolute;color:#bbb;display:none}
#chatSend,#fileSend{border:1px solid #C9C9C9;background:#F1F1F1 no-repeat 50% 50%;width:2.47em;cursor:pointer}
#chatSend{position:absolute;top:.09em;bottom:2em;right:.09em;background:#F1F1F1 url("../images/mac/send.png?v=2?version=3.1.539") no-repeat 65% 57%;background-size:1.67em 1.25em;border-radius:0 2px 0 0}
.free #chatSend{bottom:.09em}
#chatSend:hover,#fileSend:hover{opacity:.8}
#fileSend{position:absolute;bottom:.09em;top:3.09em;right:.09em;background-image:url("../images/mac/clip.png?v=2?version=3.1.539");background-size:.89em .92em;border-radius:0 0 2px 0}
.ie8 #chatSend{bottom:0}
.ie8 #fileSend{display:none}
#fileSend iframe{border:none;width:100%;height:100%;overflow:hidden;filter:alpha(opacity=01);-webkit-opacity:.01;-moz-opacity:.01;opacity:.01;-ms-filter:"alpha(opacity=01)"}
.free #fileSend{display:none}
#scrollBarContainer{position:absolute;top:0;bottom:0;right:0;width:0;z-index:99995}
#scrollBar{width:7px;height:100px;position:absolute;top:20px;margin-top:10px;display:none}
.msg{padding:0 .5em 0 .5em;overflow:hidden}
.sender{margin:0 0 0 .833em;float:left}
.textWrapper{width:100%}
.prompt .textWrapper{background:#F2F5F5;border:1px solid #E3E4E4;border-radius:.33em}
.prompt .text{padding:.417em 1em .66em 1em}
.invitation .text{padding-right:.417em}
.msgHeader{overflow:hidden;width:100%;margin:.833em 0 .417em 0;font-family:"Trebuchet MS",Tahoma,Arial,Verdana,sans-serif;background:#f2f5f5;font-size:.916em}
.time{float:right;margin:.417em .25em 0 -8.33em;color:#aaa;font-size:.917em;cursor:default;position:relative}
.prompt .time{display:none}
.msgHeader.fromVisitor{background:#f0f5f9}
.sender{font-weight:700;color:#5a5}
span.fromVisitor,.fromVisitor .sender{color:#579!important}
.text{padding:.25em 3.75em .417em .667em;word-wrap:break-word;color:#555;font-size:1.083em}
#typingLabel,#chatLabel{display:none}
#typingLabel .text,#chatLabel .text{color:#aaa;font-size:1em;padding:.167em 1em .167em 1em}
#chatLabel.loading .text{background:url("../images/common/throbberSmall.gif?version=3.1.539") no-repeat 1em 50%;padding-top:.833em;padding-bottom:.833em;padding-left:2.917em}
.msg .delivery{width:30px;height:30px;position:absolute;left:-20px;top:-2px}
.msg .delivery.resending{background:url("../images/common/throbberSmall.gif?version=3.1.539") no-repeat}
.msg .delivery.failed{top:1px;left:-14px;background:url("../images/mac/not_delivered.png?version=3.1.539") no-repeat}
.promptButtonWrapper{min-width:13.667em;margin:.417em}
.promptButton{min-width:3.2em;margin:0 .417em 0 0;background:#B5BCC5;border:1px solid #A0A7B0;-moz-border-radius:.417em;border-radius:.417em;text-shadow:0 1px 0 #A0A7B0;color:#fff!important;font-weight:700;font-size:1.083em;cursor:pointer}
.promptButton.yes{background:#5A5}
.promptButton.yes:hover{background:#6B6;border:1px solid #080}
.promptButton:hover{background:#BCBCBC;border:1px solid #888;text-shadow:0 0 1px #fff}
.promptButton{float:right;width:2.333em;height:1.25em;padding:.25em 1.25em .417em;cursor:pointer;text-align:center}
#offline{background:url("../images/mac/offlineBack.png?v=2?version=3.1.539") repeat}
.description{line-height:1.167em}
#offline input,#offline textarea{box-shadow:0 1px 2px #ccc inset;border:1px solid #aaa;border-radius:.167em;-moz-border-radius:.167em;font-family:"Trebuchet MS",Tahoma,Arial,Verdana,sans-serif;font-size:1.167em;line-height:1.43em;height:2.29em;padding-left:.5em;box-sizing:border-box;-moz-box-sizing:border-box}
#sendButton{background:url("../images/mac/buttons.png?v=2?version=3.1.539") .2em 0 no-repeat;background-size:20.25em;text-shadow:0 0 1px #000;color:#fff}
#sendButton:hover{background:url("../images/mac/buttons.png?v=2?version=3.1.539") .3em -1.95em no-repeat;background-size:20.25em}
.pressed#sendButton{background:url("../images/mac/buttons.png?v=2?version=3.1.539") .167em -4em no-repeat;background-size:20.25em}
#scrollBar{display:none}
#offline .topPanel{height:5.2em;padding:1em 1.667em 0;overflow:hidden}
#offline #feedbackForm{position:absolute;overflow:hidden;top:6.25em;bottom:0;left:0;right:.5em;padding:0 1.667em}
#offline #actionPanel{position:absolute;margin:0;bottom:2.5em;right:1.5em}
.inputField.message{position:absolute;top:6.833em;left:1.667em;right:1.667em;bottom:6em}
.phoneEnabled .inputField.message{top:11em}
#offline .message textarea{height:100%;position:absolute;left:0;resize:none;padding-top:4px;overflow:auto}
#offlineError{padding-left:1.75em;color:#ba2626;position:absolute;bottom:4.55em}
#mailSuccess{padding-left:1.75em;font-weight:700;color:#090;position:absolute;bottom:4.75em}
#fileUploadWrapper{position:absolute;bottom:6.545em;left:.73em;height:20px;width:22px;overflow:hidden;display:none}
#fileUploadWrapper div.text{background:url("../images/mac/clip.png?v=2?version=3.1.539") no-repeat 5px 6px;display:none;padding:.167em 0 0 1.5em;height:1.334em}
#fileUploadWrapper:hover div{background-position:4px 5px;display:block}
#fileUploadWrapper:hover{background:linear-gradient(top,#fffefe 0,#e8e8e8 100%);background:-o-linear-gradient(top,#fffefe 0,#e8e8e8 100%);background:-moz-linear-gradient(top,#fffefe 0,#e8e8e8 100%);background:-webkit-linear-gradient(top,#fffefe 0,#e8e8e8 100%);background:-ms-linear-gradient(top,#fffefe 0,#e8e8e8 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fffefe),color-stop(1,#e8e8e8));border:1px solid #e8e8e8;width:24.4em;max-width:86%;-webkit-transition:width 300ms;transition:width 300ms;height:18px}
#uploadedFile{opacity:.01;position:absolute;left:20px;top:0;width:200px;height:20px}
.fileWrapper .textWrapper{font-size:.9em;color:#aaa}
.fileWrapper a{color:#205ea4;font-size:.9em}
div.file{padding:0 0 4px 0}
div.file .icon{position:relative;top:3px;margin-right:3px;display:inline-block}
.icon,#fileUploadWrapper{background-image:url("../images/mac/icons.png?v=2?version=3.1.539");background-color:transparent;background-repeat:no-repeat}
.clip{width:10px;height:12px;background-position:-17px -36px}
#fileUploadWrapper{width:22px;height:20px;background-position:0 -51px}
.msg .image{width:16px;height:16px;background-position:-23px -53px}
.msg .pdf{width:16px;height:16px;background-position:0 -17px}
.msg .txt{width:16px;height:16px;background-position:0 -34px}
.msg .unknown{width:16px;height:16px;background-position:0 0}
.msg .word{width:16px;height:16px;background-position:-28px -36px}
#fileUploadWrapper .text{font-size:11px}
#fileUploadWrapper .text span{color:#467cb3;text-decoration:underline}
.progressBarWrapper{width:90%;margin:0 auto .667em}
.progressBarWrapper .progressBar{margin-top:3px;background:#d5d5d5;background-image:linear-gradient(top,#d5d5d5 0,#e4e4e4 100%);background-image:-o-linear-gradient(top,#d5d5d5 0,#e4e4e4 100%);background-image:-moz-linear-gradient(top,#d5d5d5 0,#e4e4e4 100%);background-image:-webkit-linear-gradient(top,#d5d5d5 0,#e4e4e4 100%);background-image:-ms-linear-gradient(top,#d5d5d5 0,#e4e4e4 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#d5d5d5),color-stop(1,#e4e4e4));padding:2px;border:1px solid #c1c1c1;border-radius:6px}
.progressBarWrapper .progressBar .progress{background:#98d7fb;background-image:linear-gradient(top,#98d7fb 0,#81c0f6 100%);background-image:-o-linear-gradient(top,#98d7fb 0,#81c0f6 100%);background-image:-moz-linear-gradient(top,#98d7fb 0,#81c0f6 100%);background-image:-webkit-linear-gradient(top,#98d7fb 0,#81c0f6 100%);background-image:-ms-linear-gradient(top,#98d7fb 0,#81c0f6 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#98d7fb),color-stop(1,#81c0f6));height:4px;border:1px solid #6ca3cb;border-radius:3px}
.progressBarWrapper .legend,.progressBarWrapper .percentage{color:#aaa}
#chatItself a{color:#205ea4}
#departmentsWrapper{position:absolute;background:#fff;display:none;border:1px solid #b3b3b3;box-shadow:inset 0 1px 2px #ddd}
.departmentsShow #departmentsWrapper{top:8.9em;bottom:1.357em;left:1.14em;right:1.14em}
.departmentsForce #departmentsWrapper{top:7.483em}
.departmentsShow #chooseDepartment{display:block!important}
.departmentsShow #departmentsWrapper{display:block}
#departments{list-style:none;margin:0;padding:0}
#departments li{padding:8px 8px 8px 23px;border-bottom:1px solid #b3b3b3;position:relative;cursor:pointer}
#departments li:hover{background:#e9f6f9}
#departments li div.name{font-size:1.167em}
#departments li div.description{font-size:1em;color:#7f7f7f;min-height:1.167em}
#departments li span{position:absolute;top:11px;left:10px;width:8px;height:8px}
#departments li.online span{background:url("../images/mac/departments.png?v=2?version=3.1.539") no-repeat}
#departments li.offline span{background:url("../images/mac/departments.png?v=2?version=3.1.539") no-repeat 0 -8px}
.departments .showDepartments{display:inline}
.showDepartments{display:none;cursor:pointer}
.showDepartments .icon,.hideDepartments .icon{display:inline-block;width:15px;height:15px;border-radius:2px;background:#fff;border:1px solid #cdcdcd;position:relative}
.showDepartments .icon span{position:relative;z-index:3;background:url("../images/mac/departments.png?v=2?version=3.1.539") no-repeat 0 -24px;width:11px;height:9px;display:block;margin:3px auto}
.hideDepartments .icon span{position:relative;z-index:3;background:url("../images/mac/departments.png?v=2?version=3.1.539") no-repeat 0 -33px;width:11px;height:10px;display:block;margin:4px auto}
.hideDepartments{cursor:pointer}
.showDepartments .txt,.hideDepartments .txt{margin-left:.333em;border-bottom:1px dashed #000;position:relative;bottom:4px}
.showDepartments:hover .txt,.hideDepartments:hover .txt{color:#467bc2;border-bottom-color:#467bc2}
.departmentsForce .hideDepartments{display:none}
.departmentsForce #chatInput{display:none}
.departmentsForce #online .center{padding-bottom:0}
.departmentsForce #onlinePanel{bottom:9em}
#chooseDepartment .topPanel{margin:.417em 0}
.chooseDepartmentTextWrapper{position:absolute;top:5em;left:1.25em;right:1.25em}
#stickyMessage{margin:0 .8em 0;overflow:hidden;background:#e8f4fe;padding:.8em;border:1px solid #b3b3b3;border-radius:3px;position:relative}
#stickyMessage input{box-shadow:0 1px 2px #ccc inset;border:1px solid #aaa;border-radius:.167em;-moz-border-radius:.167em;line-height:1.286em;text-indent:5px;width:100%;margin:0}
#leaveContactsText{margin-bottom:.4em}
.leaveContactsInput{margin:.2em .3em;text-align:center}
.leaveContactsInput .placeholder{color:#aaa}
.leaveContactsError{font-size:.9em;text-align:center}
#leaveContactsSubmit{padding:.4em 1em .4em;background:#bb2626;border-radius:3px;border:none;font-family:Arial,Verdana,Sans-serif;color:#fff;margin:.2em auto 0;display:inline-block;cursor:pointer}
#leaveContactsSubmit:focus,#leaveContactsSubmit:hover{background:#cc3434}
#stickyMessageClose{width:.583em;height:.583em;background:url("../images/mac/close.png?v=2?version=3.1.539");background-size:.583em;position:absolute;top:.6em;right:.6em;cursor:pointer}
.colorifier{opacity:.1}