@charset "utf-8";
.rh-reset.rh-reset.rh-reset.rh-reset.rh-reset.rh-reset.rh-reset.rh-reset{position:relative;left:auto;right:auto;top:auto;bottom:auto;margin:0;padding:0;border:none 0;font-size:12px;vertical-align:baseline;background:0 0;color:#000;line-height:14px;outline:0;text-transform:none;text-decoration:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;box-sizing:content-box;-webkit-box-sizing:content-box;visibility:visible;border-radius:0;max-width:none;min-width:0;max-height:none;min-height:0;font-size:12px;font-family:arial;height:auto;width:auto}
a.rh-reset,span.rh-reset{display:inline;width:auto}
div.rh-reset{display:block}
#rh-loadCss{z-index:1;position:fixed}
#rh-frameWrapper iframe{width:100%;height:100%}
.rh-colorifier{position:absolute;top:0;left:0;width:100%;height:100%;background:0 0;display:none;opacity:.1}
#rh-chat{position:fixed;z-index:9999990;font-size:12px}
#rh-chatWindow{position:absolute}
#rh-chatFrame{position:relative;z-index:1;display:block!important}
#rh-block{display:none;position:fixed;top:0;bottom:0;left:0;right:0;z-index:9999992;background:#ccc;-moz-opacity:.01;-khtml-opacity:.01;filter:alpha(opacity=1);opacity:.01}
#rh-frameHelper{display:none;position:absolute;top:0;bottom:0;left:0;right:0;z-index:9999995;background:#ccc;-moz-opacity:.01;-khtml-opacity:.01;filter:alpha(opacity=1);opacity:.01}
.rh-draggable{z-index:9999995}
.redhlp_attachedBottom #rh-resizeBoth{display:none}
.redhlp_attachedBottom #rh-frameWrapper{border-radius:0}
.redhlp_attachedBottom #rh-chatInnerWrapper{bottom:-2px}
#rh-maximize a{display:block;width:100%;height:100%}
#rh-notification{position:fixed;padding:10px 30px 10px 20px;text-align:center;z-index:9999991}
#rh-copy{position:absolute;bottom:0;width:100%;text-align:center;z-index:9999998;outline:0;color:#aaa;margin-left:-.5em}
#rh-copy,#rh-copy a,#rh-copy span{font-family:arial,sans-serif}
#rh-copy,#rh-copy .rh-textWrapper.rh-textWrapper{font-size:.817em;color:#777;text-shadow:0 1px 0 #fff;letter-spacing:0}
#rh-copy>span{font-size:1.1em!important}
.rh-free #rh-copy a span{color:#BB2626}
#rh-copy>a{color:#55555f;font-size:1.1em!important;opacity:1;letter-spacing:1px}
#rh-copy>a>span{color:#BB2626;font-size:100%!important}
#rh-copy a:hover{text-decoration:underline!important;opacity:1}
.rh-rtl{direction:rtl}
#rh-snippet{font-family:"Segoe UI",Tahoma,Arial,Verdana,sans-serif}
#rh-badge{position:fixed;z-index:99990}
.redhlp_openChat #rh-badge img{display:none!important}
#rh-badge.rh-right,#rh-badge.rh-left{top:40%}
#rh-badge.rh-bottom{left:70%}
#rh-badge.rh-bottom-left{left:70%}
#rh-badge.rh-bottom-right{right:0}
#rh-badge .rh-inner{position:relative}
#rh-badge.rh-left .rh-inner:hover{right:-5%!important}
#rh-badge.rh-right .rh-inner:hover{left:-5%!important}
#rh-badge.rh-bottom .rh-inner:hover,#rh-badge.rh-bottom-left .rh-inner:hover,#rh-badge.rh-bottom-right .rh-inner:hover{top:-5%!important}
#rh-badgeContent{display:none}
#rh-badge .rh-inner{margin:1px;font-family:"Segoe UI",Tahoma,Arial,Verdana,sans-serif}
#rh-badge.rh-bottom .rh-inner,#rh-badge.rh-bottom-left .rh-inner,#rh-badge.rh-bottom-right .rh-inner{left:0;top:0}
#rh-badge.rh-right .rh-inner{left:0;top:0}
#rh-badge.rh-left .rh-inner{left:auto;right:0;top:0}
#rh-badge svg,#rh-badge img{cursor:pointer}
#rh-notification{top:20px;left:20px;background:#fffff7;border:1px solid #ddddd7;-moz-border-radius:6px;border-radius:6px;width:130px}
#rh-notification .message{width:130px}
#rh-notification .close{width:12px;height:12px;position:absolute;top:4px;right:4px;background:url("../../images/mac/components.png?v=2?version=3.1.539") -4px -4px}
#rh-notification .close:hover{background:url("../../images/mac/components.png?v=2?version=3.1.539") -4px -4px}
#rh-chat{top:30%;left:200px;width:304px;height:380px;min-width:260px;min-height:335px;box-shadow:rgba(0,0,0,.4) 0 3px 9px;border:none;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px}
#rh-chatInnerWrapper{position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden}
#rh-chatTop{display:none}
#rh-chatWindow{top:1px;bottom:1px;left:1px;right:1px}
#rh-frameWrapper{position:absolute;top:1.7em;left:0;right:0;bottom:0;border-radius:0 0 .25em .25em;-moz-border-radius:0 0 .25em .25em;overflow:hidden;background:#ccc}
#rh-topPanel{position:absolute;top:1px;left:1px;right:1px;height:1.667em;background:repeat-x url("../../images/mac/topbg.png?v=2?version=3.1.539") #ccc;border-bottom:.1em solid #aaa;border-radius:.25em .25em 0 0;-moz-border-radius:.25em .25em 0 0}
#rh-chatBack{position:absolute;top:0;bottom:0;left:0;right:0;background:#999;-moz-opacity:.7;-khtml-opacity:.7;opacity:.7;border-radius:3px;-moz-border-radius:3px}
#rh-chatShadow{position:absolute;top:-4px;bottom:-2px;left:-7px;right:0;background:#000;-moz-opacity:0;-khtml-opacity:0;opacity:0}
#rh-close{position:absolute;right:.5em;top:.334em;left:auto;width:1.167em;height:1.167em;text-align:center;background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -6.7em 0;background-size:10.167em;z-index:9999996}
#rh-close:hover,#rh-close.hover{background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -6.7em -1.167em;background-size:10.167em}
#rh-close.pressed{background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -6.7em -2.333em;background-size:10.167em}
#rh-close.rh-text{background:0 0}
#rh-resizeBoth{position:absolute;bottom:0;right:0;width:20px;height:20px;cursor:se-resize;background:url("../../images/mac/components.png?v=2?version=3.1.539") no-repeat -38px -22px;z-index:9999999}
#rh-sound.rh-text{background:0 0;text-decoration:none;width:4em}
#rh-sound.rh-text.rh-soundOff{text-decoration:line-through;background:0 0}
#rh-sound{position:absolute;left:.767em;top:.234em;width:1.167em;height:1.167em;z-index:9999996;opacity:.5;-moz-opacity:.5;background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -7.853em .1em;background-size:10.167em}
#rh-sound:hover{opacity:.9;-moz-opacity:.9}
#rh-sound.rh-soundOff{background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -7.843em -1.157em;background-size:10.167em}
#rh-face{position:absolute;top:0;left:0}
#rh-choice{margin-top:15px}
#rh-choice a{background:#e6e6e6;width:34px;padding:4px;text-align:center;display:block;float:left;margin-right:6px;border-radius:3px;cursor:pointer;border:1px solid transparent}
#rh-choice a:hover{background:#f7f7f7;border:1px solid #bbb}
#rh-invWelcomeFrame{position:absolute;top:0;left:100px;bottom:25px;width:125px;overflow:hidden;text-align:center}
#rh-arrow{position:fixed;border:5px solid #ccc;display:none;z-index:99987;padding:0;border-radius:10px;font-family:"Trebuchet MS",Tahoma,Arial,Verdana,sans-serif;font-size:12px!important;overflow:visible;text-decoration:none;cursor:pointer;width:auto}
#rh-arrow.rh-left{margin-right:10px}
#rh-arrow.rh-right{margin-left:10px}
#rh-arrow.rh-above{margin-bottom:10px}
#rh-arrow.rh-below{margin-top:10px}
#rh-arrow.rh-below.rh-left{margin-top:0;margin-right:0}
#rh-arrow.rh-below.rh-right{margin-top:0;margin-left:0}
#rh-arrow.top.rh-left{margin-bottom:0;margin-right:0}
#rh-arrow.top.rh-right{margin-bottom:0;margin-left:0}
#rh-arrow img{float:left;border:1px solid #CCC;width:85px;margin-right:8px;min-height:85px}
#rh-arrow p{margin:0;float:left;padding-left:10px;font-size:12px}
#rh-arrow.rh-outside .rh-arrow_itself{border:none}
#rh-arrow.rh-outside .rh-arrow_itself:after,#rh-arrow.rh-outside .rh-arrow_itself:before{display:none}
#rh-arrow .rh-arrow_itself{position:absolute!important;border:11px solid #ccc}
#rh-arrow.rh-left .rh-arrow_itself{border-right-color:transparent!important;border-top-color:transparent!important;border-bottom-color:transparent!important;margin-left:5px}
#rh-arrow.rh-above .rh-arrow_itself{border-right-color:transparent!important;border-left-color:transparent!important;border-bottom-color:transparent!important;margin-top:5px}
#rh-arrow.rh-below .rh-arrow_itself{border-right-color:transparent!important;border-top-color:transparent!important;border-left-color:transparent!important;margin-bottom:5px}
#rh-arrow.rh-right .rh-arrow_itself{border-left-color:transparent!important;border-top-color:transparent!important;border-bottom-color:transparent!important;margin-right:5px}
#rh-arrow .rh-arrow_itself:after,#rh-arrow .rh-arrow_itself:before{border:10px solid #b3b3b3;position:absolute;width:0;height:0;content:" ";display:block}
#rh-arrow .rh-arrow_itself.rh-reset:after{border-color:#f2f2f2!important}
#rh-arrow .rh-arrow_itself:before{border:11px solid #b3b3b3}
#rh-arrow.rh-right .rh-arrow_itself:after{border-left-color:transparent!important;border-top-color:transparent!important;border-bottom-color:transparent!important;left:-3px;top:-9px;content:"  "}
#rh-arrow.rh-right .rh-arrow_itself:before{border-left-color:transparent!important;border-top-color:transparent!important;border-bottom-color:transparent!important;top:-10px;left:-5px;content:"   "}
#rh-arrow.rh-right .rh-arrow_itself{right:100%;content:"   "}
#rh-arrow.rh-right .rh-arrow_itself:after,#rh-arrow.rh-right .rh-arrow_itself:before{content:"     "}
#rh-arrow.rh-left .rh-arrow_itself:after{border-right-color:transparent!important;border-top-color:transparent!important;border-bottom-color:transparent!important;top:-10px;left:-17px;content:"      "}
#rh-arrow.rh-left .rh-arrow_itself:before{border-right-color:transparent!important;border-top-color:transparent!important;border-bottom-color:transparent!important;top:-11px;left:-17px;content:"        "}
#rh-arrow.rh-left .rh-arrow_itself{left:100%;content:"         "}
#rh-arrow.rh-left .rh-arrow_itself:after,#rh-arrow.rh-left .rh-arrow_itself:before{content:"              "}
#rh-arrow.rh-above .rh-arrow_itself:after{border-bottom-color:transparent!important;border-left-color:transparent!important;border-right-color:transparent!important;content:"                         "}
#rh-arrow.rh-above .rh-arrow_itself:after,#rh-arrow.rh-above .rh-arrow_itself:before{top:-17px;left:-10px;content:"                   "}
#rh-arrow.rh-above .rh-arrow_itself:before{border-bottom-color:transparent!important;border-left-color:transparent!important;border-right-color:transparent!important;left:-11px;content:"                                  "}
#rh-arrow.rh-above .rh-arrow_itself{top:100%}
#rh-arrow.rh-above .rh-arrow_itself:after,#rh-arrow.rh-above .rh-arrow_itself:before{content:"                                    "}
#rh-arrow.rh-below .rh-arrow_itself:after,#rh-arrow.rh-below .rh-arrow_itself:before{border-top-color:transparent!important;border-left-color:transparent!important;border-right-color:transparent!important;content:"                                       "}
#rh-arrow.rh-below .rh-arrow_itself:after,#rh-arrow.rh-below .rh-arrow_itself:before{bottom:-17px;left:-10px;content:"                                 "}
#rh-arrow.rh-below .rh-arrow_itself:before{left:-11px;content:"                                  "}
#rh-arrow.rh-below .rh-arrow_itself{bottom:100%}
#rh-arrow a{position:relative;z-index:100500}
#rh-arrow p.hint{position:absolute;bottom:10px;right:10px;font-size:10px;color:#888}
#rh-arrow a.rh-close{position:absolute;right:4px;top:4px;left:auto;width:13px;height:13px;background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -108px 0;z-index:99993}
#rh-arrow a.rh-close:hover,#rh-arrow a.rh-close.hover{background:no-repeat url("../../images/mac/components.png?v=2?version=3.1.539") -108px -14px}
#rh-arrow.rh-outside{margin:0}
#rh-arrow.rh-outside .rh-arrow_itself{background:none!important}
#rh-arrow.rh-outside .rh-arrow_itself div{width:90px;height:90px;position:relative}
#rh-arrow.rh-outside .rh-arrow_itself{background:0 0}
#rh-arrow.rh-outside .rh-shadow .rh-arrow_itself{background:0 0}
#rh-arrow.rh-outside.rh-left,#rh-arrow.rh-outside.rh-below,#rh-arrow.rh-outside.rh-above{margin-bottom:0;margin-right:90px}
#rh-arrow.rh-outside.rh-right{margin-bottom:0;margin-left:90px}
#rh-arrow.rh-outside.rh-above .rh-arrow_itself,#rh-arrow.rh-outside.rh-below .rh-arrow_itself{right:-95px;top:-5px;width:90px;height:90px}
#rh-arrow.rh-outside.rh-below .rh-arrow_itself{top:0}
#rh-arrow.rh-outside.rh-left .rh-arrow_itself{right:-95px;top:-5px;bottom:auto;width:90px;height:90px}
#rh-arrow.rh-outside.rh-right .rh-arrow_itself{left:-95px;top:-5px;bottom:auto;width:90px;height:90px}
#rh-arrow.rh-outside.rh-left.rh-below .rh-arrow_itself,#rh-arrow.rh-outside.rh-left.rh-above .rh-arrow_itself{left:auto;right:-95px;top:0;bottom:auto;width:90px;height:90px}
#rh-arrow.rh-outside.rh-left.rh-below .rh-arrow_itself{top:-5px}
#rh-arrow.rh-outside.rh-left.rh-below .rh-arrow_itself{top:-5px}
#rh-arrow.rh-outside.rh-right.rh-below .rh-arrow_itself,#rh-arrow.rh-outside.rh-right.rh-above .rh-arrow_itself{left:-95px;right:auto;top:-5px;bottom:auto;width:90px;height:90px}
#rh-arrow.rh-outside.rh-right.rh-above .rh-arrow_itself{top:0}
#rh-arrow.rh-outside.rh-above.rh-right .rh-arrow_itself div,#rh-arrow.rh-outside.rh-below .rh-arrow_itself div,#rh-arrow.rh-outside.rh-below.rh-left .rh-arrow_itself div,#rh-arrow.rh-outside.rh-below.rh-right .rh-arrow_itself div,#rh-arrow.rh-outside.rh-left .rh-arrow_itself div,#rh-arrow.rh-outside.rh-right .rh-arrow_itself div,#rh-arrow.rh-outside.rh-above .rh-arrow_itself div,#rh-arrow.rh-outside.rh-above.rh-left .rh-arrow_itself div{background:url("../../images/mac/arrows_sprites.png?v=2?version=3.1.539") no-repeat}
#rh-arrow.rh-outside.rh-above.rh-right .rh-arrow_itself div{background-position:-177px -89px;width:87px;height:87px}
#rh-arrow.rh-outside.rh-below .rh-arrow_itself div{background-position:-259px -87px;width:87px;height:87px}
#rh-arrow.rh-outside.rh-below.rh-left .rh-arrow_itself div{background-position:-269px 0;width:87px;height:87px}
#rh-arrow.rh-outside.rh-below.rh-right .rh-arrow_itself div{background-position:-92px -88px;width:87px;height:87px}
#rh-arrow.rh-outside.rh-left .rh-arrow_itself div{background-position:0 -83px;width:87px;height:87px}
#rh-arrow.rh-outside.rh-right .rh-arrow_itself div{background-position:-180px 0;width:87px;height:87px}
#rh-arrow.rh-outside.rh-above .rh-arrow_itself div{background-position:-90px 0;width:87px;height:87px}
#rh-arrow.rh-outside.rh-above.rh-left .rh-arrow_itself div{background-position:0 0;width:87px;height:87px}
#rh-arrow #rh-invitation,#rh-arrow .rh-arrowContainer{background:#f2f2f2;border:1px solid #b3b3b3;color:#000;width:245px;padding:9px 15px 9px 9px;border-radius:5px}
#rh-arrow #rh-upbutton{display:none}
#rh-badgeImage{display:none}
.redhlp_online .rh-medium #rh-badgeImage{background-image:url("../../images/mac/bubble.png?v=2?version=3.1.539");height:16px;display:block}
.redhlp_online .rh-medium.rh-dark #rh-badgeImage{background-image:url("../../images/mac/bubble_dark.png?v=2?version=3.1.539")}
.redhlp_online .rh-small #rh-badgeImage{background-image:url("../../images/mac/bubble_small.png?v=2?version=3.1.539");height:14px;display:block}
.redhlp_online .rh-small.rh-dark #rh-badgeImage{background-image:url("../../images/mac/bubble_small_dark.png?v=2?version=3.1.539")}
.redhlp_online .rh-large #rh-badgeImage{background-image:url("../../images/mac/bubble_large.png?v=2?version=3.1.539");height:24px;display:block}
.redhlp_online .rh-large.rh-dark #rh-badgeImage{background-image:url("../../images/mac/bubble_large_dark.png?v=2?version=3.1.539")}
.redhlp_offline .rh-medium #rh-badgeImage{background-image:url("../../images/mac/mail.png?v=2?version=3.1.539");height:16px;display:block}
.redhlp_offline .rh-medium.rh-dark #rh-badgeImage{background-image:url("../../images/mac/mail_dark.png?v=2?version=3.1.539")}
.redhlp_offline .rh-small #rh-badgeImage{background-image:url("../../images/mac/mail.png?v=2?version=3.1.539");height:14px;display:block}
.redhlp_offline .rh-small.rh-dark #rh-badgeImage{background-image:url("../../images/mac/mail_dark.png?v=2?version=3.1.539")}
.redhlp_offline .rh-large #rh-badgeImage{background-image:url("../../images/mac/mail_large.png?v=2?version=3.1.539");height:24px;display:block}
.redhlp_offline .rh-large.rh-dark #rh-badgeImage{background-image:url("../../images/mac/mail_large_dark.png?v=2?version=3.1.539")}
#rh-badgeImage{background-repeat:no-repeat;z-index:9999;position:absolute}
.rh-left #rh-badgeImage,.rh-right #rh-badgeImage{width:50%;background-position:50% 50%}
.rh-right .rh-large #rh-badgeImage{left:11px;bottom:23px}
.rh-right .rh-medium #rh-badgeImage{left:8px;bottom:26px}
.rh-right .rh-small #rh-badgeImage{left:8px;bottom:23px}
.rh-left .rh-small #rh-badgeImage{right:8px;bottom:23px}
.rh-left .rh-medium #rh-badgeImage{right:10px;bottom:26px}
.rh-left .rh-large #rh-badgeImage{right:10px;bottom:23px}
.rh-bottom #rh-badgeImage{height:50%;background-position:50% 50%}
.rh-bottom .rh-small #rh-badgeImage{right:24px;top:10px;width:18px}
.rh-bottom .rh-medium #rh-badgeImage{right:22px;top:12px;width:18px}
.rh-bottom .rh-large #rh-badgeImage{right:26px;top:11px;width:24px}
.redhlp_offline .rh-bottom.rh-reset #rh-badgeImage{top:11px}
.redhlp_visitor-code{border:1px solid grey;display:none}
.redhlp_visitor-code-header,.redhlp_visitor-code .redhlp_code{vertical-align:middle;text-align:center;font-family:Arial,sans-serif}
.redhlp_visitor-code .redhlp_code{font-weight:700}