
/*--------------Base Classes--------------*/
.d_block{display: block;}
.d_ib{display: inline-block;}
.bold{font-weight: 700;}
.wn_floatLeft{float: left;}
.wn_floatRight{float: right;}
.wn_clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.border_bt{
    border-bottom: 1px dashed #08c;
}
.rubl{font-weight: 400!important}
/*-----------------------------------------*/

.fancybox-nav.fancybox-prev {left:-60px;width:44px;background:url('../images/arrowLeft.png') left center no-repeat;}
.fancybox-nav.fancybox-next {right:-60px;width:44px;background:url('../images/arrowRight.png') right center no-repeat;}
.fancybox-nav.fancybox-prev span, .fancybox-nav.fancybox-next span {display:none;}
.fancybox-overlay {z-index:80 !important;}
.fancybox-wrap {z-index:81 !important;}
 #banner{
                height: 60px;
                width: 100%;
                background-color: #00A79D;
                display: block;
                margin-top:0;
                transition: all 0.2s ease-in 0s;
                -webkit-transition: all 0.2s ease-in 0s;
                -moz-transition: all 0.2s ease-in 0s;
            }
            .left_img,.right_img{
                float: left;
                width: 30%;
                height: 100%;
            }
            .banner_content{
                width: 40%;
                float: left;
            }
            .banner_content p{
                font-size: 18px;
                color: #fff;
                display: inline-block;
                padding-top: 20px;
                margin-bottom: 0;
                width: 80%;
                float: left;
            }
            .banner_content a{
                position: relative;
                color: #fff;
                font-size: 13px;
                float: left;
                #width: 10%;
                top: 20px;
                margin-left: 10%;
                border-bottom: 1px dashed;
            }
            .banner_content a:before{
                content: "x";
                position: absolute;
                left: 50px;
                font-size: 13px;
                padding-left: 9px;
            }
            .banner_content a:hover{
                text-decoration: none;
            }
            @media only screen and (max-width : 1882px) {
                  .banner_content p{
                        padding-top: 12px;
                  }  
                  .banner_content a{
                    margin-left: 8%;
                  }
            }
            @media only screen and (max-width : 1600px) {
                  .banner_content a{
                    margin-left: 6%;
                  }
            }
.product_bay_button a, .product_buy_fast .colored-blue-button{
    line-height: 40px;
}
.product_buy_fast .colored-blue-button:hover{
    color: #fff;
}
.colored-pink-button div{
    padding: 0;
}
    .colored-pink-button div span, .colored-pink-button span{
        font-size: 16px;
    }

.product_buy_fast .colored-blue-button{
    cursor:pointer;
     margin: 10px auto 0 auto;
     width: 192px;
     height: 39px;
     background-size: contain;
}
.product_buy_fast_n > div{
    width: 430px;
    height: 450px;
    display: block;
    padding: 10px 20px;
    box-sizing: border-box;
}
    .wn_form_style{
        width: 430px;
        padding: 10px 20px;
    }
.form-style-heading{
    display: block;
    font-size:24px;
    color:#494949;
    margin-bottom: 30px;
}
.fast_body {
    margin-bottom: 40px;
}
    .fast_body img{
        max-width: 110px;
        max-height: 110px;
        float: left;
        margin-right:25px;
    }
    .fast_body_desk{
        width: 250px;
        float: left;
    }
    .fast_name{
         color: #0088cc;
        padding-top: 0px;
        margin-bottom: 8px;
    }
    .fast_body label{
        font-family: 'Roboto';
    }
    .fast_body_kol{
       display: inline-block;
        width: 150px;
    }
        .fast_body_deskrip{
            display: inline-block;
            float: left;
            margin-right: 15px;
            line-height: 30px;
        }

    
        .fast_body_kol_minus, .fast_body_kol_plus{
            clear: none;
            background: linear-gradient(#16a0ba, #1470d7);
            display: inline-block;
            width: 16px;
            height: 16px;
            color: #fff;
            line-height: 13px;
            text-align: center;
            margin: 8px 6px;
            border-radius: 3px;
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            float: left;
        }
        .fast_body_kol .input-field{
            width: 30px;
            height: 22px;
            float: left;
            box-shadow: none;
            border-radius: 5px; 
        }
     
        .fast_body_kol_price{
            display: block;
            line-height: 23px;
            float: left;
            font-size: 24px;
            color: #666;
            font-family: Arial;
            font-weight: bold
        }
        .fast_body .shadow-bottom{
            margin:auto;
            width: 430px;
            margin-left: -28px;
            height:25px;
            background: url(/images/bottom-shadow.png) 0 0 no-repeat;
            background-size: 100% 100%;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .wn_form_style_lb > span{
            line-height: 26px;
            width: 130px;
            display: inline-block;
        }
        .wn_form_style_lb input{
            height: 24px;
            width: 260px;
            box-shadow: none;
        }
        .lilcoment{
            font-family: trebuchet ms;
            font-style: italic;
            font-size: 11px;
            color:#999;
            margin-left: 150px;
        }
   
.colored-pink-button > span {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}
/*--------------content---------------*/
.wn_case_box {margin-top: -8px;}
.wn_case_left{
    float: left;
    width: 700px;
}
    .wn_product_wrap{
        height: 352px;
        float: left;
        width: 220px;
        margin: 0 10px 21px;
    }
        .wn_product_wrap_h{
            position: relative;

        }
        .wn_product_case{
           padding: 0 10px;
            min-height: 300px;
        }
   
        .product_case_cart{
           height: 100%!important;
           padding-bottom: 10px;
           background-color: #fff;
           margin: 0;
        }
.wn_product_wrap_h:hover  .wn_product_case{
    border-radius: 10px;
    -webkit-border-radius:10px;
    box-shadow: 0 0 8px #9cc5da;
    position:absolute;
     z-index:2;
}
.wn_product_wrap_h:hover .product_case_cart{
    display: block;
}

.wn_product_case .product_case_name{margin-top: 15px;letter-spacing: -0.5px;text-decoration: underline; display: inline-block; color: #08c; text-align: left;}
.wn_product_case .product_case_name:hover{color: #f93694;}
.wn_product_case .product_case_article{text-align: left;color: #000;}
.wn_product_case .product_case_article.not_available{color: #cb0101;}
.wn_product_case .product_case_article.in_stock{color: #009a00;}
.wn_product_case .product_case_price{
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    font-family: trebuchet ms, geneva;
    letter-spacing: 1px;
    margin-top:9px;
    margin-bottom: 0;
}

    .wn_catalog_filter{
        border: 1px solid #ebebeb;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 3px;
    }
        a[class*="wn_sort_"]{
            display: inline-block;
            margin-right: 3px;
            letter-spacing: -0.2px;
        }
        a.wn_sort_name, a.wn_sort_rating{
            color:#0188cc;
            border-bottom: 1px dashed #7fc3e8; 
            
        }
        a[class*="wn_sort_"]:hover{
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }
        .wn_sort_price{
            color: #000;
            border-bottom: 1px dashed transparent;
            background:url(../images/icons/sort_price_bg.png) right 5px no-repeat;
            padding-right: 12px;
        }
.wn_case_right{
    float: right;
    width: 246px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
   
}
    .wn_filter_item{
        padding: 15px 18px 26px;
        border-bottom:1px solid #ebebeb; 
    }
        .wn_filter_more:before{
            content: "Показать все";
            color: #0287c8;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 18px;
            font-size: 13px!important;
            line-height: 16px;
            border-bottom: 1px dashed #0287c8;
            text-decoration: none;
            display: inline-block!important;
        }
        .active.wn_filter_more:before{
            content: "Скрыть";
        }
    .wn_filter_more_lk{
        display: inline-block;
        padding-top: 20px;
        border-bottom: 1px dashed #08c;
        color: #08c;
        cursor: pointer;
        font-size: 16px;
    }
    .wn_case_right > .wn_filter_item:last-child{
        border-bottom: none;
    }
        .wn_catalog_sortkol{
            color: #818181;
        }
            .wn_filter_item > span{
                display: block;
                font-size: 16px;
                margin-bottom: 8px!important;
            }
            .wn_filter_item >  span.rubl{
                margin-left: 5px;
                display: inline-block;
            }
        
        input[type="text"].wn_filter_price{
            width: 53px;
            border: 1px solid #ebebeb;
            border-radius: 3px;
            display: inline-block;
            height: 25px;
            outline: none;
        }
    .wn_filter_check_item label{
        font-size: 12px;
        color: #000;
        line-height: 16px;
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 6px;
    }
        .wn_filter_lb:before{
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #ececec;
            position: relative;
            margin-right: 5px;
            top:3px;
        }
        .wn_filter_lb_r:before{
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #ececec;
            position: absolute;
            top:0;
            left: 0;
        }
        .wn_filter_check_item label.wn_filter_lb_r{
            font-size: 14px;
            position: relative;
            padding-left: 25px;
            margin: 7px 0 9px 0;
        }
        .wn_filter_check_item label[for="exp_delivery1"]{
            margin: 0 0 20px 0;            
        }
        .wn_filter_lb_r:before{
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 1px solid #e0e3e8;
        }
        input.wn_filter_color:checked + .wn_filter_lb:before{
            background:url(../images/icons/tick.png) 50% 50% no-repeat;
        }
        input.wn_filter_color:checked + .wn_filter_lb_r:before{
            background:url(../images/icons/wn_point.png) 50% 50% no-repeat;
        }
    .wn_filter_color{
        display: none;
    }
    .wn_case_inner{
        margin-left: -20px;
    }

.wn_case_second{
   display: none;
}
.wn_case_second_tp{
    display: none;
    margin: 0 -20px 0 -20px;
}
.wn_pag_box{
    text-align: center;
    padding:21px 0 30px;
    margin-bottom: 18px;
}
    .wn_pag_list{
        display: inline-block;
        margin-right: 12px;
    }
     .wn_pag_list > li{
       display: inline-block;
        
     }
        .wn_pag_list > li > a{
            display: block;
            width: 30px;
            height: 30px;
            color: #2292d1;
            line-height: 30px;
            font-size: 18px;
            text-decoration:underline;
           /* border-bottom: 1px solid #2292d1;*/
        }
        .wn_pag_list > li > a:hover, .wn_pag_list > li.active > a{
            border-radius: 50%;
            background-color: #e9eaec;
            color: #000;
            border-bottom:1px solid transparent;
            text-decoration: none;
        }
        .wn_pag_lk{
            display: inline-block;
            line-height: 30px;
             color: #2292d1;
             font-size: 18px;
        }
        .wn_pag_lk > a{
            border-bottom: 1px solid #2292d1;
        }
        .wn_pag_lk > a:hover{
            border-bottom: 1px solid transparent;
            text-decoration: none;
        }
        .wn_pag_lk:hover{
            color: #2292d1;
            text-decoration:none;
        }
        .wn_offen_box p{
            width: 80%;
        }
input.input-field{
    text-align: center;
}
/*---------------basket-----------*/
.wn_basket_inner{
    padding: 10px 10px 0 20px;
}
.wn_basket_tb{
    width: 100%;
    margin-top: -50px;
    table-layout: fixed;
    letter-spacing: -0.4px;
}
    .wn_basket_tb .wn_cell1{
        width: 200px;
        text-align: center;
        padding: 20px 0;
    }
    .wn_basket_tb .wn_cell1 > div{
        background-color: #fff;
        height: 200px;
        overflow: hidden;
        border-radius:5px;
        -webkit-border-radius:5px;
        padding: 5px;
        box-sizing:border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
    }
    .wn_basket_tb .wn_cell2{
        width: 340px;
        text-align:left;
        padding: 0px 15px 0px 30px;
    }
    .wn_basket_tb td.wn_cell2{
        padding: 35px 15px 5px 30px;
    }
    .wn_basket_tb td.wn_cell3{
        padding: 35px 15px 5px 20px;
    }
    .wn_basket_tb td.wn_cell4{
        padding: 30px 35px 5px 0;
    }
    .wn_cell3{
        width: 155px;
    }
    th.wn_cell4{
        text-align: center;
    }
    .wn_cell4{
        width: 165px;
        text-align: right;
    }
    .wn_basket_tb td.wn_cell5{
        width: 30px;
        padding: 0;
        cursor: pointer;
        background:url(../images/icons/clouse.png) 50% 35px no-repeat;
    }
  
    .wn_baket_sumsale{
        font-size: 13px;
    }
    .wn_basket_tb td.wn_cell5:hover{
        background:url(../images/icons/clouse_h.png) 50% 35px no-repeat;
    }
    td.wn_cell1{
       border-radius: 10px;
        -webkit-border-radius:10px;
    }
    .wn_basket_tb th{
        padding: 10px 0;
        border-bottom: 1px solid #b8bdc1;
        font-weight: 400;
    }
    .wn_basket_tb td{
        padding: 35px 15px;
        vertical-align: top;
        color: #000;
    }

        .wn_service_add{
            margin-bottom: 7px;
        }
        .wn_label_free{
            width: 56px;
            height: 15px;
            background-color: #fa9b6f;
            color: #fff;
            border-radius: 5px;
            position: relative;
            padding: 0 5px;
            margin-left: 5px;
            font-size: 12px;
            line-height: 15px;
            display: inline-block;
        }
        .wn_label_free:before{
            content: "";
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-right: 6px solid #fa9b6f;
            position: absolute;
            left:-11px;
            top:2px;
        }
    .wn_basket_kol:hover .wn_kolminus, .wn_basket_kol:hover .wn_kolplus{
        background-color: #38aac4;
        color: #fff;
    }
    .wn_baket_sumold{
        text-decoration: line-through;
        color: #ff3300;
    }
    .wn_baket_sumold span{
        color: #000;
    }
    .wn_baket_sumnew{
        color: #ff3300;
        font-size: 16px;
    }
    .wn_baket_sum{
        font-size: 16px;
    }
    .wn_kolminus, .wn_kolplus{
        display:block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        font-size: 30px;
        line-height: 1;
        float: left;
    }
    .wn_kolminus{
        background-color: #d1dbe7;
        color: #b5c2d2;
        border-radius: 8px 0 0 8px;
    }
    .wn_kolplus{
        background-color: #1695be;
        color: #fff;
        border-radius: 0 8px 8px 0;
    }
    .wn_kol{
        width: 32px;
        height: 30px;
        display:block;
        float: left;
        text-align: center;
    }
    .wn_basket_name{
        color: #008ac9;
        text-decoration: underline;
        line-height: 16px;
    }
    .wn_basket_article{
        margin-bottom: 10px;
    }
    .wn_baket_sumall{
        text-align: right;
        padding-right: 60px;
        font-size: 20px;
        float: right;
        width: 165px;
        position: relative;
    }
        .wn_baket_sumall > .wn_baket_sumall_text{
            font-size: 12px;
        }
     .wn_baket_sumall:before{
            content: "";
            height: 1px;
            background-color: #b9bec4;
            right:0;
            left:0;
            top:-15px;
            position: absolute;
        }
.wn_checkout_box, .wn_features_box{
    background-color: #fff;
    border-top:1px solid #c2c2c2;
}
.wn_checkout_box{
    margin-top: -40px;
}

.wn_wrapper_inner {
    width: 970px;
    margin: auto;
    min-height: 460px;
}
.wn_tabs_wrap{
    margin-top: -30px;
    padding-left: 20px;
}
.wn_tabs_messadge{
    display: inline-block;
    position: absolute;
    top:10px;
    right:15px;
    width: 170px;
    font-size: 12px;
    line-height: 1.2;
}
.wn_form_basket_lb{
    width: 155px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
input[type="text"].wn_form_basket_inp{
    width: 100%;
    margin-bottom: 0;
    height: 18px;
}
input[type="text"].error{
    border: 1px solid #ff6766;
}
.wn_form_basket_wrap input[type="text"]:focus,
.wn_form_basket_wrap .wn_form_basket_textarea:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.wn_form_basket_wrap{
    width: 286px;
    display: inline-block;
    margin-bottom: 13px;
}
.wn_form_basket_wrap span{
    font-size: 12px;
    font-weight: bold
}
.wn_form_basket_textarea{
    height: 78px;
    overflow: hidden;
    resize:none;
    width: 100%;
    color: #000;
}
.wn_ordering_box{
    background-color:#eff4fa;
    padding: 20px 60px 30px 160px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    margin: 10px 0 30px;
}
.wn_ordering_box .wn_total_cost{
    font-size: 18px;
} 
.wn_ordering_lk{
    color: #fff;
    text-transform: uppercase;
    width: 215px;
    height: 40px;
    line-height: 40px;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    font-family: trebuchet ms, geneva;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 0 rgba(155, 36, 73, 0.5);
    background: linear-gradient(#fd9b6c, #f870a0);
}
.wn_ordering_lk:hover{
    opacity: 0.9;
    text-decoration: none;
    color: #fff;
}
.wn_total_cost{
    color: #000;
    font-weight: 700;
}
.wn_pad_left{
    padding-right: 60px;
}

/*---------zoom---------*/

.wn_product_caption{
    position: relative;
}

.wn_caption{
    width: 446px;
    height: 410px;
    padding:0 30px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}
.wn_product_caption{
    position: relative;
}
.wn_caption img{
    width:auto;
    height:100%;
}
.tmb_caption{
    width: 446px;
    margin-top: 12px;
    margin-bottom: 25px;
}
.tmb_caption .wn_caption{
    width: 52px;
    height: 52px;
    display:block;
    float: left;
    padding: 3px;
    border: 1px solid #cccccc;
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
}
.tmb_caption .wn_caption img{
    width: 60px;
    height: auto;

}
/*-----------product---------*/
.wn_product_sertf{
    padding-left: 30px;
    background: url(../images/icons/sertf.png) 0 0 no-repeat;
    letter-spacing: -0.5px;
    display: inline-block;
}
    .wn_product_buy_box{
        padding: 10px 20px 30px;
    } 
    .wn_product_slider{
        padding-top: 20px;
        float: left;
        width: 46%;
        position: relative;
    }
        .wn_zoom_btn{
            position: absolute;
            bottom: 15%;
            left:-14px;
            border:1px solid #e88b00;
            border-radius: 10px;
            -webkit-border-radius:10px;
            padding:0 10px 0 20px;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            text-decoration: underline;
            background:url(../images/icons/zoom_search.png) 3px 50% no-repeat;
        }
        .wn_zoom_btn:hover{
            text-decoration: none;
        }
    .wn_product_desk{
        float: right;
        width: 49.5%;
        padding-top: 25px;
    }
        .wn_product_desk_inner{
            padding-left: 25px;
            margin-bottom: 14px;
        }
            .wn_product_desk_inner label{
                font-size: 13px;
                line-height: 22px;
            }
        .wn_product_price_box{
            float: left;
            width: 192px;
            text-align: left;

        }
        .wn_product_buy{
            float: right;
            width: 220px;
            text-align: center;
        }
        .wn_product_buy .product_bay_button a, .wn_product_buy .product_buy_fast a{
            width: 100%!important;
            height: 42px;
            margin: 0 0 13px 0!important;
            padding: 0;
            cursor: pointer;
        }


.wn_product_box {
    margin-bottom: 116px;
    margin-left: 20px;
}
    .wn_product_price_article{
        margin: 0 0 20px;
        color: #009a00;
    }
.wn_tabs_wrapper{
    margin-top: -30px;
}
.wn_more_wrap{
    text-align: center;
    width: 300px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding-bottom:9px;
    display: block;
    margin: 0 auto;
}
.wn_products_similar{
    padding-bottom: 80px;
 
}
.wn_accessories_sort{
    float: left;
    width: 70%;
    margin-left: -2px;
}
.wn_accessories_del{
    float: right;
    width: 23%;
    background-color: #fef5f0;
    padding: 2px 20px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.wn_accessories_sort a{
    display: inline-block;
    border-bottom: 1px dashed #0287c8;
    border-top: 1px dashed transparent;
    border-left: 1px dashed transparent;
    border-right: 1px dashed transparent;
    padding:0 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius:3px;
    -webkit-border-radius:3px;
    font-size: 13px;
}
.wn_accessories_sort a:hover{
    color: #000;
    border: 1px solid #ccc;
    text-decoration: none;

}
.wn_product_short{
    margin-top: -10px;
    font-size: 13px;
    margin-bottom: 10px;
}
    .wn_product_short > span:first-child{
        background-color: #e7ecf2;
        padding: 0 5px;
        margin-right: 12px;
        border-radius: 5px;
        -webkit-border-radius:5px;
        letter-spacing: -1px;
    }
.wn_product_desk_offen{
    display: block;
    background-color: #fef5f0;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius:5px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 700;
}
.wn_product_price{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 6px;
}
    .wn_pice_nal{
        font-size: 13px;
        font-weight: 700;
        display: block;
        letter-spacing: -0.5px;
    }
    .wn_text_dec{
        letter-spacing: -0.5px;
    }
    .wn_text_dec:hover{
        border-bottom: 1px dashed transparent;
        text-decoration: none;
        color: #08c;
     }
.wn_product_delivery{
    padding: 0 40px 0 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 13px;
}
    .wn_product_delivery p{
        margin: 0 0 10px 0;
    }
.wn_accessories_sort_bx{
    margin-top: -10px;
    margin-bottom: 10px;
}
.wn_product_width{
    margin: 0 -20px 0 -20px;
}
    .wn_product_width .wn_product_wrap{
        margin: 0 10px 68px;
    }
    .wn_product_width .product_case_price{
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 9px;
        margin-top: 0;
    }
    .wn_product_width .product_bay_button{
        width: 137px;
    }
    .wn_product_width .product_bay_button > a{
        width: 100%;
        height: 30px;
    }
    .wn_product_width .product_bay_button span{
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
.wn_product_case .product_case_img{
    height: 190px;
    overflow: hidden;
}
.wn_products_similar_box{
    padding-top: 42px;
}
.wn_products_titl_wrap{
    padding: 0 20px 22px;
}
.wn_products_similar_box .title2{
    border-bottom:1px solid #c2c2c2;
    padding-bottom:12px;
   margin: 0;
}

.wn_product_select{
    margin-left: 10px;
}
    .wn_product_memory, .wn_product_design{
        width: 110px;
        font-weight: 700;
        font-size: 18px;
    }
    .wn_product_design{
        margin-left: 15px;

    }
/*-----------product discount-------*/

.wn_product_desk_offen2{
    padding-left: 84px;
    padding-bottom: 10px;
    padding-top: 10px;
    background:url(../images/icons/dis_offen.png) 7px 5px no-repeat;
    font-size: 13px;
    font-weight: 700;
    display: block;
    letter-spacing: -0.5px;
    margin-top: -10px;
    margin-bottom: 14px;
}
.wn_product_disc_share{
    padding: 18px 12px 10px;
    border-bottom:2px solid #f6f7fb;
    border-right:2px solid #f6f7fb;
    border-left:2px solid #f6f7fb;
}
.wn_product_specifications dt, .wn_product_specifications dd{
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
}
.wn_product_specifications dt{
    width: 60%;
}
.wn_product_specifications dd{
    width: 35%;
}
    .wn_product_discount{
        width: 380px;
    }
    .wn_product_discount h3{
        border-bottom: 1px solid #c2c2c2;
        margin-bottom: 10px;
    }
.wn_product_discont_box{
    margin-left: 20px;
}
.wn_product_disc_share span:first-child{
    font-size: 13px;
    font-weight: 700;
    padding:3px 5px;
    letter-spacing: -0.5px;
}
.wn_product_disc_mas{
    background-color: #fe3231;
    border-radius: 5px;
    color: #fff;
}
     .wn_product_disc_mas .rubl{
        font-weight: 400!important;
     }
    .wn__share_box_lk{
        margin-top: 14px;
    }
         .wn_share_fLk, .wn_share_vkLk{
            width: 170px;
            height: 32px;
            border-radius: 3px;
            -wekit-border-radius:3px;
         }
         .wn_share_fLk{
            margin-right: 10px;
            background:url(../images/icons/wn_share_f.png) 0 0 no-repeat;
         }
         .wn_share_vkLk{
            display: inline-block;
            background:url(../images/icons/wn_share_vk.png) 0 0 no-repeat;
         }


/*---------------------*/
.title1{
    font-size: 24px;
    line-height: 1.2;
}
.title2{
    font-size: 20px;
    line-height: 1.2;

}
/*-----------*/
.p1{margin-bottom: 5px;}
.p3{margin-bottom: 3px;}
.p10{margin-bottom: 10px;}
/*-------------------*/
.wn_bg_gray{
    background-color:#e7ecf2;
}

.wn_bg_gray1{
    background-color:#f6f7fb;
}
/*-------------Responsive Tabs---------*/

.resp-tabs-list{
    padding-left: 0;
    margin-bottom: 0;
    margin-top:-20px;
    display: inline-block;
}
.resp-tabs-list.wn_tabs_children{
    margin-top:0px;
}

.wn_tabs_parents > .resp-tabs-list > .resp-tab-item{
    display:inline-block;
    float: left;
    padding: 15px 32px 14px;
    cursor: pointer;
    border-left: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    position: relative;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #b3c3d3; 
    background: -moz-linear-gradient(top,  #b3c3d3 0%, #acb9ca 50%, #93a3b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b3c3d3 0%,#acb9ca 50%,#93a3b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b3c3d3 0%,#acb9ca 50%,#93a3b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color:#fff;
}
.resp-tab-item.wn_tabs_parent:first-child/*,
.resp-tab-item:first-child*/{
 
    margin-right: 6px;
    text-align: center;
    font-weight: 700;
}
.wn_tabs_parents > .resp-tabs-list > .resp-tab-active.wn_tabs_parent{
    background: #fff;
    color: #000;
}
    .wn_accessories_num{
        margin-left: 10px;
        color: #989898;
        font-size: 15px;
        line-height: 15px;
        display: inline-block;
        font-weight: 400;
    }
    .resp-tab-item.wn_tabs_children{
        background-color: transparent !important;
        list-style: none;
    }
    .resp-tab-active.wn_tabs_children{
        font-weight: 700;
    }
.resp-tab-item:last-child{
  
}
.resp-tab-item{
    list-style: none;
}
#tabs_item2.resp-tab-item{
    width: 360px;
}

   
.resp-tabs-list li:hover,
.resp-tabs-list li.current{
  
}
.resp-tabs-list li.current a,
.resp-tabs-list li:hover a{
    /*color: #fff;*/
}


.resp-tabs-container {
    padding: 0px;
    clear: left;
}
h2.resp-accordion {
    cursor: pointer;
    display: none!important;
}
.resp-tab-content.wn_tabs_parent{
    display: none;
    padding: 21px 0 20px;
}
.resp-tab-content.wn_tabs_children {
    display: none;
    padding: 0px 0 20px;
}


.resp-content-active, .resp-accordion-active {
    display: block;
}

.wn_tabs_children li{
float: left;
}

